.means{
 margin-left: 10px;
 font-size: large;
 text-align: center;
 margin-top: 5%;
}
.means input{
    margin-bottom: 10px;
    border: 1px solid #ffce03;
    box-sizing: border-box;
    background-color: #faefc4;
    padding: 5px;
    margin-left: 10px;
}
.driver{
   margin-left: 10px;
}
.passport{
    margin-left: 10px;
 }
.othermean{
    margin-left: 5px;
}
.othermean input{
    width: 30%;
    margin-left: 10px;
}
.id{
    margin-right: 50px;
    font-size: large;
    text-align: center;
}
.id input{
    width: 150px;
    padding: 5px;
    border: 1px solid #ffce03;
    box-sizing: border-box;
    background-color: #faefc4;
}
.select select{
    margin-left: 20px;
    margin-bottom: 20px;
    width: 400px;
    padding: 6px;
    border: 1px solid #ffce03;
    box-sizing: border-box;
    background-color: #faefc4;
    font-size: large;
    text-align: center;
    display: inline;
}
#sel1{
    margin-right: 20px;
    width: 45%;
}
#sel2{
    margin-left: 5px;
    width: 40%;
}
#sel3{
    margin-left: 5px;
    width: 40%;
}
.select h3{
    margin-left: 10px;
}
.select label{
    margin-left: 30px;
    margin-bottom: 10px;
    margin-top: 10px;
    font-size: larger;
    display: inline;
}
.catagory input{
    margin-bottom: 10px;
    border: 1px solid #ffce03;
    box-sizing: border-box;
    background-color: #faefc4;
    padding: 5px;
}
.catagory label{
    margin-left:10px;
    margin-bottom:30px ;
    font-size: larger;
}
.catagory h4{
 font-size: larger;
 margin-left: 10px;
 margin-bottom: 10px;
 margin-top: 10px;
}
#preconfirm{
   width: 20%; 
}