.personal{
    margin-left: 20%;
    font-size: large;
    font-style: normal;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 5%;
  }
.title select{
    margin-bottom: 10px;
    width: 40%;
    font-size: large;
    text-align: center;
    background-color: rgb(210, 231, 238);
    padding: 4px;
    border: 10px;
}
.fullname input{
    margin-left: 95px;
    margin-bottom: 5px;
    width: 50%;
    border: 1px solid #ffce03;
    box-sizing: border-box;
    background-color: #faefc4;
    padding: 4px;
}
.personal select{
    margin-left: 70px;
    margin-bottom: 10px;
    width: 30%;
    font-size: large;
    text-align: center;
    border: 1px solid #ffce03;
    box-sizing: border-box;
    background-color: #faefc4;
    padding: 4px;
}
.other input{
    margin-left: 12px;
    margin-bottom:10px;
    width: 50%;
    border: 1px solid #ffce03;
    box-sizing: border-box;
    background-color: #faefc4;
    padding: 4px;
}
.place input{
    margin-left: 73px;
    margin-bottom: 10px;
    width: 50%;
    border: 1px solid #ffce03;
    box-sizing: border-box;
    background-color: #faefc4;
    padding: 4px;
}
.numofchild input{
    margin-left: 27px;
    margin-bottom: 10px;
    width: 50%;
    border: 1px solid #ffce03;
    box-sizing: border-box;
    background-color: #faefc4;
    padding: 4px;
}
.numofdependent input{
    margin-left: 5px;
    margin-bottom: 10px;
    width: 50%;
    border: 1px solid #ffce03;
    box-sizing: border-box;
    background-color: #faefc4;
    padding: 4px;
}
.mother input{
    margin-left: 63px;
    margin-bottom: 10px;
    width: 50%;
    border: 1px solid #ffce03;
    box-sizing: border-box;
    background-color: #faefc4;
    padding: 4px;
}
.nationality input{
    margin-left: 92px;
    margin-bottom: 10px;
    width: 50%;
    border: 1px solid #ffce03;
    box-sizing: border-box;
    background-color: #faefc4;
    padding: 4px;
}
.resident input{
    margin-left: 26px;
    margin-bottom: 10px;
    width: 50%;
    border: 1px solid #ffce03;
    box-sizing: border-box;
    background-color: #faefc4;
    padding: 4px;
}
.birth input{
    margin-left: 76px;
    margin-bottom: 10px;
    width: 50%;
    border: 1px solid #ffce03;
    box-sizing: border-box;
    background-color: #faefc4;
    padding: 4px;
}

.purposeofaccount input{
    margin-left: 30px;
    margin-bottom: 10px;
    width: 50%;
    border: 1px solid #ffce03;
    box-sizing: border-box;
    background-color: #faefc4;
    padding: 4px;
}